{% extends 'agenda/base.html' %}
{% block titul %}Restablecimiento de Contraseña{% endblock %}

{% block contenedor %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Restablecer Contraseña</h4>
                </div>
                <div class="card-body">
                    {% if success %}
                    <p>Se ha restablecido tu contraseña exitosamente.</p>
                    {% else %}
                    <p>Ocurrió un error al restablecer tu contraseña. Por favor, inténtalo de nuevo más tarde.</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
